.preview {
  min-height: 412px;
  position: relative;
}

.preview .preview_list {
  width: 100%;
}

.preview .preview_list li>a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f6f6f6;
}

.preview .preview_list li>a span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}